.wishlist-card .wishlist li {
  list-style: none;
  padding-bottom: var(--space-sm);
  gap: var(--space-xxs);
  display: flex;
  align-items: center;
  word-break: break-word;
}

.wishlist-card ul li::before {
  content: "";
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/gold-star-li.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wishlist-card .wishlist-input {
  display: flex;
  margin-top: var(--space-sm);
  gap: var(--space-xs);
}

.wishlist-card .wishlist-input input {
  flex: 1 1 auto;
  min-width: 0;
  padding: var(--space-xs);
  border: 2px solid var(--color-green);
  border-radius: var(--space-xs);
}

.wishlist-card .gift-info {
  display: flex;
  flex-direction: column;
}

.wishlist-card .info-text {
  color: var(--color-dark-gray);
  font-weight: 300;
  padding: var(--space-xxs) 0;
}

.wishlist-card .none {
  opacity: 0.6;
}
