# Logs
logs
*.log
npm-debug.log*
yarn-*.log*
pnpm-*.log*
lerna-debug.log*

# Dependencies / builds
/Frontend/node_modules
/Backend/node_modules
/Frontend/dist
/Backend/dist
/Backend/build
/coverage

# Env 
**/.env
**/.env.*
**/*.env
!**/.env.example
!**/*.env.example

# Cache/tools
/.turbo
/.vercel
/.netlify

# IDE / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.njsproj
*.ntvs*
*.sln
*.sw?
