.verify-pending h3 {
  margin: var(--space-md) 0;
}

.verify-pending button {
  width: 100%;
  padding: var(--space-sm);
  margin: var(--space-md) 0;
  border: none;
  border-radius: var(--space-md);
  background-color: var(--color-btn-primary);
  color: var(--color-text-secondary);
  font-size: var(--font-md);
  font-weight: 600;
  cursor: pointer;
}

.verify-pending button:hover {
  background-color: var(--color-btn-primary-hover);
  transition: 400ms;
}

.verify-pending .sucess-container {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin: var(--space-md) 0;
}

.verify-pending .active-message {
  color: var(--color-green);
}

.verify-pending .info-spam {
  margin: var(--space-md) 0;
}

.verify-pending .status-message {
  display: flex;
  border: 2px solid var(--color-btn-primary);
  border-radius: var(--space-md);
  align-items: center;
  justify-content: center;
  padding: var(--space-md);
  gap: var(--space-sm);
  margin: var(--space-xl) 0;
}
