body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goBack {
  cursor: pointer;
}

.container {
  min-width: 360px;
  border: 2px solid var(--color-dark-gray);
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--color-dark-gray);
  margin-bottom: var(--space-lg);
}

.form-header {
  display: flex;
  align-items: center;
}

p {
  font-size: var(--font-md);
  font-weight: 700;
  color: var(--color-red);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--space-md);
  background-color: var(--color-light-gray);
}

form label {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--color-gold);
}

form input {
  font-size: var(--font-xs);
  padding: var(--space-xs);
  border-radius: 0.25rem;
  border: 2px solid var(--color-green);
  color: var(--color-text-primary);
}

form input:focus {
  outline: none;
  border-color: var(--color-gold);
}

label:has(input[type="checkbox"]) {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  font-weight: 300;
  gap: 0.5rem;
}

form button[type="button"] {
  width: fit-content;
  padding: var(--space-sm);
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-btn-secondary);
  color: var(--color-text-secondary);
  font-size: var(--font-xxs);
  font-weight: 500;
  cursor: pointer;
}

form button[type="button"]:hover {
  background-color: var(--color-btn-secondary-hover);
  transition: 400ms;
}

form button[type="submit"] {
  width: 100%;
  padding: var(--space-md);
  margin-top: var(--space-md);
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-btn-primary);
  color: var(--color-text-secondary);
  font-weight: 600;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: var(--color-btn-primary-hover);
  transition: 400ms;
}

form span[type="button"] {
  width: fit-content;
  text-align: center;
  font-size: var(--font-xxs);
  font-weight: 400;
  color: var(--color-text-secondary);
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-btn-primary);
  margin-bottom: var(--space-sm);
  padding: var(--space-xs);
  cursor: pointer;
}

form span[type="button"]:hover {
  background-color: var(--color-btn-primary-hover);
  transition: 400ms;
}

small {
  color: var(--color-red);
  font-weight: 600;
  margin-left: var(--space-sm);
}

.error-container {
  display: flex;
  align-items: center;
}

.members-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (width <= 375px) {
  .container {
    max-width: 300px;
  }
}
