.invite-container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 var(--space-sm);
}

.invite-container h2 {
  text-align: center;
  font-size: var(--font-lg);
  color: var(--color-red);
  font-weight: 700;
  margin-bottom: var(--space-md);
}

/* CARD */
.invite-container .card {
  width: 100%;
  height: 100%;
  background: var(--color-light-gray);
  border-radius: var(--space-sm);
  padding: var(--space-md);
  box-shadow: 0 2px 8px #0002;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.invite-container .card-title {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  color: var(--color-green);
  font-size: var(--font-md);
}

/* BUTTONS */
.invite-container .btn {
  cursor: pointer;
  border-radius: var(--space-xs);
  padding: var(--space-xs) var(--space-sm);
  font-weight: 600;
  transition: 0.2s ease;
}

.invite-container .btn-primary {
  background: var(--color-red);
  color: white;
  border: none;
}

.invite-container .btn-primary:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.invite-container .btn-gold {
  background: var(--color-btn-gold);
  color: black;
  display: flex;
  align-items: center;
  border: none;
}

.invite-container .btn-green {
  background: var(--color-green);
  color: white;
  border: none;
}

.invite-container .btn-green:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.invite-container .btn:hover:not(:disabled) {
  opacity: 0.85;
}

/* LOADING */
.loader-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-center p {
  margin-top: var(--space-md);
  font-size: var(--font-sm);
  color: var(--color-white);
}

.loader-center .loading-message {
  font-size: var(--font-lg);
}

@media (min-width: 900px) {
  .invite-container {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .invite-container .card {
    padding: var(--space-lg);
  }

  .invite-container h2 {
    grid-column: span 2;
  }

  .invite-container .reveal-card {
    grid-column: span 2;
    display: flex;
    align-items: center;
  }

  .chat-card {
    grid-column: span 2;
  }
}
