.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 130px;
}

header h1 {
  color: var(--color-white);
  font-family: "Carattere", cursive;
  font-size: 4rem;
}

header img {
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-55%);
  z-index: -1;
}

body {
  background-color: #1b4d3e;
}

.container {
  width: calc(100% - 2rem);
  max-width: 500px;
  padding: var(--space-lg);
  border-radius: var(--space-lg);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--color-cream);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-family: var(--font-primary);
}

h2 {
  font-size: var(--font-lg);
  color: var(--color-red);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

footer {
  width: 100%;
  background-color: var(--color-red);
  text-align: center;
  color: var(--color-text-secondary);
  padding: var(--space-md);
  margin-top: var(--space-xl);
}

footer a {
  text-decoration: underline;
  color: var(--color-white);
}

/* SCROLLBAR - Chrome, Edge, Safari */

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--space-xs);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25); /* button */
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Firefox */

.scrollbar {
  scrollbar-color: transparent;
}
