.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  background: no-repeat center/cover url("/background-mobile.jpg");
}

header {
  align-self: center;
  margin-bottom: var(--space-xl);
}

h1 {
  font-size: var(--font-xl);
  font-weight: 800;
}

h2 {
  font-size: var(--font-lg);
  font-weight: 600;
}

h3 {
  font-size: var(--font-md);
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

footer {
  width: 100%;
  background-color: var(--color-red);
  text-align: center;
  color: var(--color-text-secondary);
  padding: var(--space-md);
  margin-top: var(--space-xl);
}
