/* GLOBAL */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: var(--font-lg);
  padding-top: var(--space-xs);
  color: var(--color-red);
}

body {
  background-color: var(--color-dark-green);
}

.container {
  width: calc(100% - 2rem);
  max-width: 500px;
  padding: var(--space-lg);
  border-radius: var(--space-lg);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--color-cream);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-family: var(--font-primary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* SCROLLBAR - Chrome, Edge, Safari */

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--space-xs);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25); /* button */
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Firefox */

.scrollbar {
  scrollbar-color: transparent;
}
