.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  background: no-repeat center/cover url("/background-mobile.jpg");
}

.container {
  width: 100%;
  max-width: 600px;
  padding: var(--space-lg);
  border-radius: var(--space-lg);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--color-cream);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin: 2rem auto;
  font-family: var(--font-primary);
}

header {
  align-self: center;
  margin-bottom: var(--space-xl);
}

h2 {
  font-size: var(--font-lg);
  color: var(--color-red);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

footer {
  width: 100%;
  background-color: var(--color-red);
  text-align: center;
  color: var(--color-text-secondary);
  padding: var(--space-md);
  margin-top: var(--space-xl);
}

/* SCROLLBAR - Chrome, Edge, Safari */

.scrollbar::-webkit-scrollbar {
  width: 6px; /* mantém a barra normal */
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent; /* cor do fundo da barra */
  border-radius: var(--space-xs);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25); /* cor do "botão" */
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Firefox */

.scrollbar {
  scrollbar-color: transparent;
  /* thumb   track */
}
