:root {
  /* Fonts */
  --font-primary: "Poppins", sans-serif;

  --font-xs: clamp(0.75rem, calc(1.5vw + 1rem), 1rem);
  --font-sm: clamp(0.875rem, calc(2vw + 1rem), 1.125rem);
  --font-md: clamp(1rem, calc(2.5vw + 1rem), 1.5rem);
  --font-lg: clamp(1.25rem, calc(3vw + 1rem), 2rem);
  --font-xl: clamp(2rem, calc(5vw + 1rem), 3.5rem);

  /* Padding / Margin */
  --space-sm: clamp(0.5rem, 1vw, 1rem);
  --space-md: clamp(1rem, 2vw, 2rem);
  --space-lg: clamp(1.5rem, 3vw, 3rem);

  /* Main Colors */
  --color-red: #c0392b;
  --color-green: #27ae60;
  --color-gold: #f1c40f;

  /* Secundary Colors */
  --color-white: #ffffff;
  --color-light-gray: #f7f7f7;
  --color-dark-gray: #333333;

  /* Buttons / hover */
  --color-btn-primary: var(--color-red);
  --color-btn-primary-hover: #e74c3c;
  --color-btn-secondary: var(--color-green);
  --color-btn-secondary-hover: #2ecc71;

  /* Text */
  --color-text-primary: var(--color-dark-gray);
  --color-text-secondary: var(--color-white);
}

* {
  font-family: var(--font-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
